
:root {
    --body-background: #FFFFFF;
    --link-color: #333399;
    --link-color-hover:  #FFFFCC;
    --header-color: #FFFFFF;
    --rule-color: #DDDDDD;
    --san-serif: 'Assistant', helvetica, arial, sans-serif;
    --second-color: #4a9fa8;
    --second-color-dark: #176f76;
    --serif: 'Georgia', serif;
    --text-color: #555555;
}

a {
	color: var(--link-color);
}
a:hover {
    color: var(--second-color);
	background-color: var(--link-color-hover);
}

b, strong { 
    font-weight: 700; 
}

body {
	font-family: var(--san-serif);
	background-color: var(--body-background);
	color: var(--text-color);
	margin: 0;
    line-height: 1.25;
}

footer {
    overflow: hidden;
    padding: 1em;
    line-height: 150%;
    background-color: var(--second-color-dark);
    color: var(--header-color);
}

h1 {
	font-size: 2.375rem;
    margin: 0;
    color: var(--header-color);
}
h2 {
	font-size: 1.5rem;
	color: var(--second-color);
    padding-bottom: .25em;
}
h4 {
    margin: 0;
}
h1, h2 {
    font-family: var(--serif);
}
h1, h2, h3 {
    font-weight: 400;
}

header {
    /*background-color: var(--second-color);*/

    color: #FFF;

    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=4a9fa8&c2=0c7783&gt=l&gd=dtt
    */
    background: #4A9FA8;
    background: linear-gradient(180deg, #4A9FA8, #0C7783);
}
header div {
    overflow: hidden;
    padding: 1em;
}
header div ul {
    margin: .75rem 0 2rem 0;
}
header div ul li {
    font-size: .94rem;
}
footer ul, header ul {
    margin: 0;
    padding: 0;
}
footer ul li, header ul li {
    list-style-type: none;
}
footer ul li a, header ul li a {
    color: var(--header-color);
}
header ul li:last-child {
    padding-right: 0;
}
header ul li:last-child:after {
    content: '';
	margin-left: 0;
}
header ul li {
    float: left;
    padding-right: .5em;
}
header ul li:after {
    content: '\000b7';
    margin-left: .5em;
}

main {
    margin: 0 1em;
}
main section:first-child {
    padding: 0;
}
main section:first-child p {
    font-size: large;
    line-height: 150%
}

ul {
    margin-top: 0;
}
ul li {
    list-style-type: square;
}

section {
    border-bottom: 1px solid var(--rule-color);
}
section ul li {
    margin-bottom: .25em;
}


/* Classes */
.position {
	margin: 1em 0 0;
	padding: 0;
}	
.position li {
    list-style-type: none;
}
.position li.org {
    margin: 1.25rem 0 .25rem 0;
}
.position li.date {
    font-style: italic;
}
.position li.role {
    font-family: var(--serif);
    color: var(--second-color-dark);
    font-weight: 400;
    font-size: larger;
}
section ul {
    margin-left: .125em;
    padding-left: .75em;
}
section ul li {
    margin-bottom: .5em;
}


@media only screen and (min-width: 1024px) {
    
    body {
        font-size: medium;
    }
    h1 {
	   font-size: 3em;
    }
    h2 {
        margin-top: .5em;
        margin-bottom: 0;
    }
    footer {
        margin-top: 1em;
        padding: 1.5rem 0;
    }
    footer ul li {
        float: left;
        margin-right: 1em;
    }
    footer ul li:last-child {
        float: right;
        margin-right: 0;
    }
    header div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 5em;
    }
    header div ul {
        margin: 0;
    }
    main {
        padding: 0 1em;
    }
    main, footer div, header div {
        max-width: 940px;
        margin: 0 auto;
    }
    section {
        overflow: hidden;
    }
    section ul {
        margin-left: .75em;
    }
    .position {
        margin-top: 1em;
        width: 26%;
        float: left;
    }
    .position li.location {

    }

    section {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
    section .summary {
        width: 72%;
        float: left;
        margin-left: 2%;
    }

}


@media only print {
    
    body {
        font-family: sans-serif;
    }
    
    body, h1, h2, .position li strong, header li, header li a {
        color: #000000;
    }
    h1 {

    }
    footer {
        border-top: 1px solid #000000;
    }
    header li a {
        text-decoration: none;
    }
    header {
        background-color: #FFFFFF;
    }
    main {
        margin: 0;
    }

}